@media screen and (max-width: 1000px) {
    
    .container {
        padding: 0 25px;  
      }
    
    header {
        flex-direction: column;
        justify-content: center; 
    }

    .logo {
        width: 292px;
    }

    .slider {
        width: 324px;
    }

}