@media screen and (max-width: 1000px) {

    .container {
        padding: 0 25px;
        flex-direction: column;
    }

    .title {
        font-size: 36px;
        line-height: 48px;
    }

    .subtitle {
        font-size: 20px;
    }

    .text {
        font-size: 18px;
    }

    .logo {
        width: 292px;
        padding-top: 32px;
    }

    .slider {
        width: 324px;
    }

    /* block1 visiting */

    .visiting_title {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
    }

    .visiting_button {
        width: 211px;
        height: 35px;
        font-size: 20px;
        margin: auto;
    }

    .img_arrow {
        height: 24px;
        width: 24px;
    }

    .img_switch {
        width: 340px;
        margin: 32px auto;

    }

    .img_amazon {
        width: 350px;
        height: 50px;
        margin: 8px auto;
    }

    .banner {
        width: 340px;
        height: 372px;
    }

    .text_container {
        display: block;
        padding: 24px;
    }

    .banner .text {
        font-size: 16px;
    }

    .img_container {
        align-items: end;
    }

    .logo_container {
        flex-direction: column;
    }

    /* block2 about */
    .about {
        padding-top: 64px;
    }

    .about_title {
        padding-bottom: 16px;
    }

    .about_card {
        width: 340px;
        height: 626px;
        flex-direction: column;
    }

    .card_subtitle {
        font-size: 24px;
    }

    .card_text_container {
        width: 292px;
    }

    .card_title {
        font-size: 32px;
    }

    .card_list {
        flex-direction: column;
    }

    .card_ellipse {
        height: 16px;
        width: 16px;

    }

    .card_text {
        font-size: 20px;
    }

    .card_button {
        width: 181px;
        height: 30px;
        font-size: 20px;
    }

    .card_right_content {
        gap: 24px;
        align-items: start;
        padding-bottom: 44px;
        margin-right: 118px;
    }

    /* block3  description*/

    .description {
        height: 100%;
        text-wrap: wrap;
       }

    .description_chip02, .description_chip03, .description_chip04, .description_chip05, .description_chip06,.description_chip07
    {
        display: none;
    }

    .black_block_container {
        padding: 48px 24px;

      }
      
      .black_block {
        margin-top: 64px;
        border-radius: 24px;
      }

      .description_title {
        font-size: 36px;
        line-height: 48px;
        padding-bottom: 12px;
      }

      .description_text {
        font-size: 18px;
        padding-top: 8px;
      }
}