@media screen and (max-width: 1000px) {

    .container {
        padding: 0 25px;
        flex-direction: column;
    }

    .title {
        font-size: 36px;
        line-height: 48px;
    }

    .subtitle {
        font-size: 20px;
    }

    .text {
        font-size: 18px;
    }

    .logo {
        width: 292px;
        padding-top: 32px;
    }

    .slider {
        width: 324px;
    }

    /* block1 visiting */

    .visiting_title {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
    }

    .visiting_button {
        width: 211px;
        height: 35px;
        font-size: 20px;
        margin: auto;
    }

    .img_arrow {
        height: 24px;
        width: 24px;
    }

    .img_switch {
        width: 340px;
        margin: 32px auto;

    }

    .img_amazon {
        width: 350px;
        height: 50px;
        margin: 8px auto;
    }

    .banner {
        width: 340px;
        height: 372px;
    }

    .text_container {
        display: block;
        padding: 24px;
    }

    .banner .text {
        font-size: 16px;
    }

    .img_container {
        align-items: end;
    }

    .logo_container {
        flex-direction: column;
    }

    /* block2 about */
    .about {
        padding-top: 64px;
    }

    .about_title {
        padding-bottom: 16px;
    }

    .about_card {
        width: 340px;
        height: 626px;
        flex-direction: column;
    }

    .card_subtitle {
        font-size: 24px;
    }

    .card_text_container {
        width: 292px;
    }

    .card_title {
        font-size: 32px;
    }

    .card_list {
        flex-direction: column;
    }

    .card_ellipse {
        height: 16px;
        width: 16px;

    }

    .card_text {
        font-size: 20px;
    }

    .card_button {
        width: 181px;
        height: 30px;
        font-size: 20px;
    }

    .card_right_content {
        gap: 24px;
        align-items: start;
        padding-bottom: 44px;
        margin-right: 118px;
    }

    /* block3  description*/

    .description {
        height: 100%;
        text-wrap: wrap;
    }

    .description_chip02,
    .description_chip03,
    .description_chip04,
    .description_chip05,
    .description_chip06,
    .description_chip07 {
        display: none;
    }

    .black_block_container {
        padding: 48px 24px;

    }

    .black_block {
        margin-top: 64px;
        border-radius: 24px;
    }

    .description_title {
        font-size: 36px;
        line-height: 48px;
        padding-bottom: 12px;
    }

    .description_text {
        font-size: 18px;
        padding-top: 8px;
    }

    /* block4-5-6-7*/
    .characteristics,
    .features,
    .bonus,
    .find,
    .conclusion {
        margin-top: 64px;
    }

    .side_r,
    .side_l {
        min-width: 340px;
    }

    /* accordion */
    .acc_title {
        padding-bottom: 20px;
    }

    .acc_title:after {
        content: url("/assets/svg/icon_plus_01_r.svg");
    }

    .acc_active:after {
        content: url("/assets/svg/icon_minus_01_r.svg");
    }

    .acc_text {
        max-width: 340px;
    }

    /* block8 advantages */
    .advantages {
        height: 100%;
        text-wrap: wrap;
    }

    .advantages_subtitle {
        font-size: 24px;
    }

    .advantages_title {
        font-size: 36px;
        line-height: 48px;
        padding-top: 8px;
        padding-bottom: 12px;
    }


    .img_smile1,
    .img_smile2 {
        position: static;
        padding-top: 16px;
        width: 32px;
        height: 32px;

    }

    .img_cart1,
    .img_cart2,
    .img_cart3,
    .img_cart4,
    .container_cart1,
    .container_cart2 {
        display: none;
    }

    /* block9  conclutiob */

    .conclusion>.title {
        width: 340px;
    }

    /*footer*/
    footer {
        height: 100%;
        margin-top:64px;
        margin-bottom: 24px;

    }

    .longline {
        width: 100%;
    }

    .footer_info {
        display: flex;
        flex-direction: column;
        align-items:start;
        gap:10px;
    }

     .a_left {
        padding:0
    }

    .a_right {
        float:none;
    }
}

.about_group {
    flex-direction: column;
  }

  .about_side_l {
    width: 340px;
  }

  .about_out {
    margin-top:64px;
  }