:root {
  --main-text-color: #000000;
  --main-dark-color: #000000;
  --main-light-color: #ffffff;
  --main-green-color: #7BF179;
  --main-gray-color: #7F7E7E;
  --main-red-color: #FF3C3C;
  --hover-gray-color: #DDDADA;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.hide {
  display: none;
}
.container {
  padding: 0 272px;
}

.title {
  color: --main-dark-color;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
}

.title>span {
  color: var(--main-green-color);
}

.subtitle {
  font-weight: bolder;
  font-size: 24px;
}

.text {
  font-size: 20px;
  padding-bottom: 12px;
}


/* HEADER */

header {
  background-color: var(--main-dark-color);
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 288px;
}

.slider {
  background-color: var(--main-light-color);
  width: 352px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 24px;
}

.button {
  width: 174px;
  height: 30px;
  border-radius: 18px;
  padding-top: 7px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-gray-color);
}

.active {
  background-color: var(--main-green-color);
}

/* HOME */

/*block1 visiting*/
.visiting {
  height: 930px;
  background-image: url(../assets/img/bg_02\ 1.png);
  background-size:cover;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}

.visiting>.container {
  display: flex;
}

.visiting_title {
  color: var(--main-light-color);
  font-size: 72px;
  padding: 32px 0;
}

.visiting_button {
  width: 282px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  background-color: var(--main-green-color);
  padding-top: 10px;
}

.img_arrow {
  vertical-align: middle;
}

.visiting_button:hover>.img_arrow {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7500%) hue-rotate(112deg) brightness(104%) contrast(101%);
}

.img_switch {
  width: 672px;
}

.img_amazon {
  height: 150px;
  padding-top: 96px;
  padding-bottom: 24px;
}

.banner {
  height: 170px;
  width: 1376px;
  margin: 0 auto;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.25)
}

.text_container {
  color: var(--main-light-color);
  display: flex;
  justify-content: space-between;
  padding: 32px 48px;
}

.text>a:link {
  color: var(--main-green-color);
}

.img_container {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

.logo_container {
  display: flex;
  gap: 12px;
}

.img_aware {
  width: 200px;
  height: 48px;
  border-radius: 24px;
}

.img_care {
  width: 170px;
  height: 48px;
  border-radius: 24px;
}

.img_stop {
  width: 186px;
  height: 48px;
  border-radius: 24px;
}

.img_aware:hover,
.img_care:hover,
.img_stop:hover {
  background-color: var(--main-green-color)
}

/*block2*/
.about {
  padding-top: 96px;
}

.about .container {
  display: flex;
}

.about_title {
  padding-bottom: 96px;
}

.about_title span {
  color: var(--main-green-color);
}

.about_subtitle {
  padding-bottom: 16px;
}

.about_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 288px;
  width: 1376px;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 24px;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, var(--main-dark-color), var(--main-green-color));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.about_card>img {
  width: 192px;
  height: 192px;
}

.card_subtitle {
  font-size: 36px;
  font-weight: bold;
  color: var(--main-green-color);
  padding-bottom: 10px;
}

.card_title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 10px;
}

.card_list {
  display: flex;
  gap: 6px;
}

.card_ellipse {
  height: 24px;
  width: 24px;
  background-color: var(--main-green-color);
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
  margin-right: 5px;
}

.card_text {
  font-size: 24px;
  padding-right: 6px;
}

.card_button {
  width: 246px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  background-color: var(--main-green-color);
  padding-top: 10px;
}

.card_button:hover {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
}

.card_button:hover>.img_arrow {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7500%) hue-rotate(112deg) brightness(104%) contrast(101%);
}

.card_right_content>a {
  color: var(--main-dark-color);
  font-size: 16px;
}

.card_right_content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 80px;
}

/*block3*/
.black_block {
  margin-top: 128px;
  position: relative;
  background-color: var(--main-dark-color);
  border-radius: 64px;
}

.description {
  height: 1012px;
}

.black_block_container {
  margin: auto;
  width: 1024px;
  padding-top: 96px;
}

.description_title {
  color: var(--main-light-color);
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  padding-bottom: 30px;
}

.description_title span {
  color: var(--main-green-color);
}

.description_text {
  color: var(--main-light-color);
  font-size: 20px;
  line-height: 30px;
  padding-top: 15px;
}

.description_chip02 {
  width: 261px;
  position: relative;
  top: -1058px;
  left: 142px;
}

.description_chip03 {
  width: 261px;
  position: relative;
  top: -846px;
  left: -218px;
}

.description_chip04 {
  width: 400px;
  position: relative;
  top: -932px;
  left: 2px;
  overflow: hidden;

}

.img_chip04 {
  position: relative;
  left: -78px;
  width: 479px;
  filter: blur(5px);
}

.description_chip05 {
  width: 278px;
  position: relative;
  top: -1030px;
  left: 1550px;
  filter: blur(5px);
}

.description_chip06 {
  width: 107px;
  position: relative;
  top: -1085px;
  left: 1813px;
  overflow: hidden;
}

.img_chip06 {
  width: 215px;
}

.description_chip07 {
  width: 297px;
  position: relative;
  top: -1035px;
  left: 1550px;
}

/* block4-5-6-7*/
.characteristics,
.features,
.bonus,
.find,
.conclusion {
  display: flex;
  gap: 32px;
  margin-top: 128px;
}

.side_r {
  width: 496px;
}

.side_r>.title {
  margin-bottom: 24px;
  ;
}

.side_l {
  width: 848px;
}

.line {
  width: 848px;
  height: 2px;
  background-image: linear-gradient(to right, var(--main-dark-color), var(--main-green-color));
  margin-bottom: 24px;
}

/* accordion */
.acc_title {
  padding-bottom: 24px;
}

.acc_title:after {
  content: url("/assets/svg/icon_plus_01.svg");
  float: right;
}

.acc_active:after {
  content: url("/assets/svg/icon_minus_01.svg");
}

.acc_text {
  width: 764px;
  display: none;
}

.text a {
  color: var(--main-green-color);
}

/* block8 */
.advantages {
  height: 1674px;
}

.advantages_subtitle {
  font-size: 36px;
  color: var(--main-green-color);
  font-weight: bold;
  padding-top: 24px;
}

.advantages_title {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: var(--main-light-color);
  padding-top: 48px;
  padding-bottom: 32px;
}

.span_red {
  color: var(--main-red-color);
}

.img_smile1 {
  position: relative;
  left: -80px;
  top: 65px;
}

.img_smile2 {
  position: relative;
  left: -80px;
  top: 115px;
}

.img_cart2 {
  width: 236px;
  position: relative;
  left: 154px;
  top: -1750px;
}

.container_cart1 {
  width: 400px;
  position: relative;
  left: 0;
  top: -1805px;
  overflow: hidden;
}

.img_cart1 {
  width: 407px;
  position: relative;
  left: -40px;
}

.container_cart3 {
  width: 355px;
  position: relative;
  left: 1565px;
  top: -1040px;
  overflow: hidden;
}

.img_cart3 {
  width: 404px;
}

.img_cart4 {
  width: 274px;
  position: relative;
  left: 1505px;
  top: -1121px;
}

footer {
  height: 74px;
  margin-top: 96px;
}

.longline {
  width: 100%;
}

.footer_info {
align-items: center;
}

.footer_info a {
  color: var(--main-dark-color);
  text-decoration: none;
}

.a_left {
  padding-right: 48px;
}
.a_right{
  float: right;
}