:root {
  --main-text-color: #000000;
  --main-dark-color: #000000;
  --main-light-color: #ffffff;
  --main-green-color: #7BF179;
  --main-gray-color: #7F7E7E;
  --hover-gray-color: #DDDADA;
 }

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  padding: 0 272px;
}

/* HEADER */

header {
  background-color: var(--main-dark-color);
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 288px;
}

.slider {
  background-color: var(--main-light-color);
  width: 352px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 24px;
}

.button {
  width: 174px;
  height: 30px;
  border-radius: 18px;
  padding-top: 7px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-gray-color);
}

.active {
  background-color: var(--main-green-color);
}

/* HOME */
.visiting {
  height: 930px;
  background-image: url(../assets/img/bg_02\ 1.png);
}

.visiting>.container {
  display: flex;
}

.visiting_title {
  color: var(--main-light-color);
  font-weight: bold;
  font-size: 72px;
  padding: 32px 0;
}

.visiting_button {
  width: 282px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  background-color: var(--main-green-color);
  padding-top: 10px;
}

.img_arrow {
  vertical-align: middle;
}

.visiting_button:hover>.img_arrow {
  filter: invert(55%) sepia(43%) saturate(258%) hue-rotate(356deg) brightness(100%) contrast(94%);
  transition: 0.5s linear;
}

.img_switch {
  width: 672px;
}

.img_amazon {
  height: 150px;
  padding-top: 96px;
  padding-bottom: 24px;
}

.banner {
  height: 170px;
  width: 1376px;
  margin: 0 auto;
  border-radius: 24px;
  background-color: rgba(0,0,0,0.25)

}
.text_container {
  color:var(--main-light-color);
  display: flex;
  justify-content: space-between;
  padding: 32px 48px;
}

a:link {
  color:var(--main-green-color);
}

.img_container {
  display:flex;
  justify-content: space-between;
  padding: 0 32px;
}

.logo_container {
  display: flex;
  gap:12px;
}

.img_aware {
  width: 200px;
  height: 48px;
  border-radius: 24px;
}

.img_care {
  width: 170px;
  height: 48px;
  border-radius: 24px;
}

.img_stop {
  width: 186px;
  height: 48px;
  border-radius: 24px;
}

.img_aware:hover, .img_care:hover, .img_stop:hover {
  background-color: var(--main-green-color)
}